{# This is a template #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ hed }}</title>
    <link rel="stylesheet" href="css/base.scss" type="text/css" charset="utf-8">
    <script src="js/index.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <a href="https://michigandaily.com">
            <img class="header__logo" src="./assets/logo.png" alt="The Michigan Daily" />
        </a>
    </header>
    <article class="">
        <h1>{{ hed }}</h1>
        <div class="by">
            {% for author in by %}
            <span class="author">{{ author }}</span>
            {% endfor %}
             / Daily Data Team
        </div>
        {% for item in body %}
        {% if item.type == "text" %}
        <p>{{ item.value }}</p>
        {% elif item.type == "Section" %}
        <h2>{{ item.value }}</h2>
        {% elif item.type == "Subsection" %}
        <h3>{{ item.value }}</h3>
        {% elif item.type == "Figure" %}
        <figure class="vis {{ item.value.Name }}">
        </figure>
        {% elif item.type == "Image" %}
        {% if item.value.Url %}
        <img src="{{ item.value.Url }}" alt="" />
        {% else %}
        <img src="{{ item.value }}" alt="" />
        {% endif %}
        {% elif item.type == "DataDescription" %}
        <p class="data">{{ item.value }}</p>
        {% elif item.type == "List" or item.type == "UList" %}
        <ul>
            {% for listItem in item.value %}
            <li>{{ listItem }}</li>
            {% endfor %}
        </ul>
        {% elif item.type == "OList" %}
        <ol>
            {% for listItem in item.value %}
            <li>{{ listItem }}</li>
            {% endfor %}
        </ol>
        {% endif %}
        {% endfor %}
    </article>
</body>

</html>
