{# This is a template #}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ hed }}</title>
    <link rel="stylesheet" href="css/base.scss" type="text/css" charset="utf-8">
    <script src="js/index.js" charset="utf-8"></script>
    {% if env == "production" %}
    {% if config.ga_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168080597-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ config.ga_id }}');
    </script>
    {% endif %}
    {% endif %}
</head>

<body>
    <header>
        <a href="https://michigandaily.com">
            <img class="header__logo" src="./assets/logo.png" alt="The Michigan Daily" />
        </a>
    </header>
    <article class="">
        <h1>{{ hed }}</h1>
        <div class="by">
            {% for author in by %}
            <span class="author">{{ author }}</span>
            {% endfor %}
            / Daily Data Team
        </div>
        {% for item in body %}
        {% if item.type == "text" %}
        <p>{{ item.value }}</p>
        {% elif item.type == "Section" %}
        <h2>{{ item.value }}</h2>
        {% elif item.type == "Subsection" %}
        <h3>{{ item.value }}</h3>
        {% elif item.type == "Figure" %}
        <figure class="vis {{ item.value.Name }}">
        </figure>
        {% elif item.type == "Image" %}
        {% if item.value.Url %}
        <img src="{{ item.value.Url }}" alt="" />
        {% else %}
        <img src="{{ item.value }}" alt="" />
        {% endif %}
        {% elif item.type == "DataDescription" %}
        <p class="data">{{ item.value }}</p>
        {% elif item.type == "List" or item.type == "UList" %}
        <ul>
            {% for listItem in item.value %}
            <li>{{ listItem }}</li>
            {% endfor %}
        </ul>
        {% elif item.type == "OList" %}
        <ol>
            {% for listItem in item.value %}
            <li>{{ listItem }}</li>
            {% endfor %}
        </ol>
        {% endif %}
        {% endfor %}
        <footer>
            <span class="social__blurb">Like this piece? Share it with your friends.</span>
            <span class="social__buttons">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                    data-via="michigandaily" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <iframe
                    src="https://www.facebook.com/plugins/share_button.php?href=https://{{ config.hostname }}/{{ config.base_url }}&layout=button_count&size=small&appId=725032674263883&width=96&height=20"
                    width="96" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media"></iframe>
            </span>

        </footer>
    </article>
</body>

</html>
