
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@300;400;700;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Lora, serif;
  font-size: 16px;
}